@import "../../style/style.scss";

.wrapper {
    @include font($weight-bold, $font-48, $color-primary-2);
    gap: 50px;
    text-align: center;
    display: flex;
    margin: auto 10px;
    justify-content: center;

}