@import "../../style/style.scss";

.wrapper {
    @include font($weight-bold, $font-48, $color-primary-2);
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}