@import "../../style/style.scss";

.wrapper {
    


}

.button {
    border: 0;
    width: 200px;
        height: 200px;
    margin: 3px;
    background: none;
        border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;



    &:hover {

        @include hoverbut;

    }
                img {
                    max-width: 100%;
    svg {
        color: $color-primary-2;
        }
    }
}

