@import "../../style/style.scss";


.container {

  width: 700px;
    min-height: 350px;
    border: 2px solid $color-primary-3;
    border-radius: 134px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    &:hover {
        @include hoverbut;
    
      }
&__out {
    width: 99%;
    height: 70%;
    position: relative;
  
      display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
  }


  &__trans {
    width: 100%;
    display: flex;
      justify-content: center;
  }


}
.button {
  height: 55px;
  padding: 15px 30px;
  @include font($weight-bold, $font-16, $color-primary-3);
  background-color: $color-primary-2;
  border-radius: 15px;
  letter-spacing: 2px;
  display: block;
  border: none;

  &:hover,
    &:focus {
    @include hoverbut;
    cursor: pointer;
    border: none;
  }

}
.word {
  @include font($weight-bold, $font-96, $color-primary-2);
  letter-spacing: 3px;
  word-wrap: break-word;
    width: 100%;

}

.transcription {
  @include font($weight-normal, $font-24, $color-primary-5);
  letter-spacing: 2px;

}
.rusword {
@include font($weight-bold, $font-48, $color-primary-2);
  letter-spacing: 2px;
  text-align: center;
}

.animationR {
  width: 700px;
    min-height: 350px;
    border: 2px solid $color-primary-3;
    border-radius: 134px;
    background-color: $color-primary-3;
    display: flex;
      flex-direction: column;
      justify-content: space-around;
    
      &__out {
        width: 99%;
        height: 70%;
        position: relative;
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    
    
      &__trans {
        width: 100%;
        height: 30%;
      }
  animation-name: right;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                animation-duration: 400ms;
    animation-timing-function: linear;
      animation-delay: 0;
  animation-iteration-count: 1;
  animation-direction: normal;
    animation-fill-mode: forwards;

    position: relative;
      right: -5px;
    @keyframes right {
            100% {
                opacity: 0;
                right: -200px;
                }
                }
                }

.animationL {
  width: 700px;
    min-height: 350px;
    border: 2px solid $color-primary-3;
    border-radius: 134px;
  background-color: $color-primary-3;
  display: flex;
    flex-direction: column;
    justify-content: space-around;
  
    &__out {
      width: 99%;
      height: 70%;
      position: relative;
  
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
  
    &__trans {
      width: 100%;
      height: 30%;
    }
  animation-name: left;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                animation-duration: 400ms;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-delay: 0ms;
  position: relative;
    right: 5px;
  @keyframes left {
  
        100% {
          opacity: 0;
          right: 200px;
          }
          }
  
}

