@import "../../style/style.scss";


.container {
  margin: 10px auto;
  width: 300px;
  height: 450px;
  border: 2px solid $color-primary-5;
  border-radius: 5px;
  background-color: $color-primary-3;
  position: absolute;
  
    &_none {
  
      margin: 10px auto;
      width: 300px;
      height: 450px;
      border: 2px solid $color-primary-5;
      border-radius: 5px;
      background-color: $color-primary-3;
  
      animation-name: open;
      animation-duration: 1s;
      animation-iteration-count: 1;
      animation-direction: normal;
      animation-fill-mode: forwards;
      animation-delay: 1500ms;
  
      position: absolute;
      top: 0;
  
      @keyframes open {
        0% {
  
          opacity: 1;
          visibility: visible;
        }
  
        100% {
  
          opacity: 0;
          visibility: hidden;
          transform: rotateY(90deg);
  
        }
  
  
      }
  
    }


  &__out {
    width: 100%;
    height: 70%;
    position: relative;



  }

  &__inner {
    width: 100%;
    height: 20%;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    text-align: center;

  }

  &__trans {
    width: 100%;
    height: 30%;



  }

}

.word {
  @include font($weight-bold, $font-32, $color-black);
  letter-spacing: 3px;

}

.transcription {
  @include font($weight-normal, $font-24, $color-primary-5);
  letter-spacing: 2px;


}

.button {
  padding: 15px 30px;
  @include font($weight-bold, $font-16, $color-primary-3);
  background-color: $color-primary-2;
  border-radius: 15px;
  letter-spacing: 2px;
  display: block;
  margin: 25px auto;
  border: none;

  &:hover {
    @include hoverbut;
    cursor: pointer;
  }

}

.rusword {
  @include font($weight-bold, $font-24, $color-primary-2);
  letter-spacing: 2px;
  margin-top: 30px;
  text-align: center;

}
